// =============================================
// RESET
// =============================================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

//methode pour : 1rem = 10px
html {
  font-size: 62.5%;
}
//reset taille du texte body + footer bas de page column+min-height+ flex sur main
body {
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bg-color;
}
main {
  flex: 1;
}

//reset img
img {
  max-width: 100%;
  display: block;
}
