//background header/footer & pages
$hf-bg-color: #222222;
$bg-color: #EDE0D4;

//accentuation 
$imp-color: #8B1E2D;

//boutons, liens, détails
$btn-link-color: #A47551;

//background card
$bg-card: #FFFFFF;

//bordures/séparateurs
$border: #C8BAA8;

//texte principal color / font
$primary-txt-color: #2C2C2A;
$primary-font: none;

//texte secondaire
$secondary-txt-color: #6B6B68; 
